body {
    background-color: rgb(125, 224, 125);
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

h1 {
    color: darkgreen;

}

#principal { 
    color: #fff;   
    text-align: center;
    background-color: green;   
}

h2 {
    color: rgb(79, 152, 79)
}

.basic {
    color: rgb(95, 79, 152);
    font-weight: bold;
}

.intermediario{
    color: rgb(135, 152, 79);
    font-weight: bold;
}

.avanced {
    color: rgb(152, 79, 79);
    font-weight: bold; 

}

.destaque {
    background-color: gold;
}

.seila {
    background-color: black;
    color: white;
    
}
